<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        $("#loading").hide();
        $('#btnUploadFile').on('click', function () {
            var data = new FormData();
            var files = $("#fileUpload").get(0).files;

            if (files.length > 0) {
                data.append("UploadedImage", files[0]);
            }

            var ajaxRequest = $.ajax({
                type: "POST",
                url: "api/files",
                async: false,
                contentType: false,
                processData: false,
                timeout: 30000,
                beforeSend: function () {
                    $("#loading").show();
                },
                data: data,
                success: function (message) {
                    $("#loading").hide();
                    alert(message);
                },
                error: function (message) {
                    $("#loading").hide();
                    alert(message);
                }
            });
        });
        $('#btnDownloadFile').on('click', function () {
            var data = new FormData();
            var text = $("#fileid").val();
            console.log(text);
            var ajaxRequest = window.open("api/files?id=" + text);
            ajaxRequest.done(function (data) {
                alert("downloaded");
            });
            ajaxRequest.fail(function (data) {
                alert("failed");

            });
        });
    });
</script>
<div>
    <table>
        <tr>
            <td>
                <div>
                    <h2>Upload</h2>
                    <input type="file" name="FileUpload1" id="fileUpload" size="100"/><br />
                    <input id="btnUploadFile" type="button" value="Upload File" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <br /><br />
                    <img src="ajax-loader.gif" id="loading" alt="animated" />
                    <br /><br /><br /><br /><br /><br /><br /><br />
                    <h2>Download</h2>
                    <input type="text" name="fileid" id="fileid" size="50"/><br />
                    <input id="btnDownloadFile" type="button" value="Download" />
                </div>
            </td>
        </tr>
    </table>
</div>
